.button {
	width: 140px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px #333;
	border-radius: 5px;
	margin: 0 0px 20px 0;
	position: relative;
	overflow: hidden;
	float: left;
	cursor:default;
}

.button:nth-child(6n) {
	margin-right: 0;
}

.button.blue {
	border: 1px solid #1e7db9;
	box-shadow: 0 1px 2px #8fcaee inset, 0 -1px 0 #497897 inset, 0 -2px 3px
		#8fcaee inset;
	background: -webkit-linear-gradient(top, #42a4e0, #2e88c0);
	background: -moz-linear-gradient(top, #42a4e0, #2e88c0);
	background: linear-gradient(top, #42a4e0, #2e88c0);
}

.roundtext {
	position: relative;
	height: 30px;
	width: 20px;
	top: 5px; left : 10%;
	font-size: 150%;
	float: left;
	line-height: 20px;
	color: #FFFFFF;
	left: 10%;
}

.round {
	position: relative;
	height: 15px;
	width: 15px;
	top: 7.5px;
	left: 68%;
	float: left;
}

.round:after {
	position: absolute;
	display: inline-block;
	content: "\00d7";
	width: 15px;
	height: 15px;
	left: 0px;
	line-height: 16px;
	font-size: 10px;
	font-weight: normal;
	border-radius: 10px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
	color:#ffffff;
	box-shadow: 1px 0 1px rgba(255, 255, 255, .8) inset, 1px 0 1px
		rgba(18, 85, 128, .9);
	background: -webkit-linear-gradient(top, #1e7db9, #2b85bd);
	background: -moz-linear-gradient(top, #1e7db9, #2b85bd);
	background: linear-gradient(top, #1e7db9, #2b85bd);
}

.round:hover:after {
	background: -webkit-linear-gradient(top, #ff0000, #ff0000);
	background: -moz-linear-gradient(top, #ff0000, #ff0000);
	background: linear-gradient(top, #ff0000, #ff0000);
}

.blue:hover {
	background: -webkit-linear-gradient(top, #70bfef, #4097ce);
	background: -moz-linear-gradient(top, #70bfef, #4097ce);
	background: linear-gradient(top, #70bfef, #4097ce);
}

.blue:active {
	top: 1px;
	box-shadow: 0 1px 3px #114566 inset, 0 3px 0 #fff;
	background: -webkit-linear-gradient(top, #1a71a8, #1976b1);
	background: -moz-linear-gradient(top, #1a71a8, #1976b1);
	background: linear-gradient(top, #1a71a8, #1976b1);
}

.button.buttonclick {
	border: 1px solid #1e7db9;
	box-shadow: 0 1px 2px #8fcaee inset, 0 -1px 0 #497897 inset, 0 -2px 3px
		#8fcaee inset;
	background: -webkit-linear-gradient(top, #70bfef, #4097ce);
	background: -moz-linear-gradient(top, #70bfef, #4097ce);
	background: linear-gradient(top, #70bfef, #4097ce);
}